<h1 class="display-3 mt-3 mb-4">Добро пожаловать</h1>

<p class="lead"><strong>MyStore</strong> - это торговая площадка для размещения своих товаров на продажу!</p>
<p>Обычный пользователь может:</p>
<ul>
    <li>Смотреть товары.</li>
    <li>Зарегистрироваться.</li>
</ul>
<p>Зарегистрировавшийся пользователь может:</p>
<ul>
    <li>Добавлять свои новые товары, изменять их, удалять.</li>
    <li>Каждый пользователь может редактировать только добавленные им товары.</li>
    <li>Добавлять товары в корзину. Делать заказ.</li>
    <Li>Изменять имя пользователья.</Li>
    <Li>Сбрасывать пароль от аккаунта.</Li>
</ul>
<small class="text-muted">* все в рамках обучения, не более!</small>