:root {
    --color: rgb(69, 123, 198);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button,
input {
    outline: none;
    background: transparent;
    border: none;
}

body {
    color: #fff;
    font: 300 20px/1.25 Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--color);
}

.container {
    max-width: 1024px;
    margin: 0 auto;
    padding: 10px;

    text-align: center;
}

h1 {
    margin-bottom: 50px;
}

h2 {
    margin-top: 50px;
}

.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 20px 0;
    padding: 20px;
    border-radius: 20px;

    background-color: #fff;
}

.input-field {
    width: 90%;
    height: 35px;
    margin-right: 2%;
}

.input-field input {
    width: 100%;
    height: 100%;
    padding: 10px;

    opacity: 0.5;
    outline: none;
    background: transparent;

    border: 2px solid var(--color);
    border-radius: 20px;

    transition: all 0.3s ease-in-out;
}

.input-field input:focus {
    opacity: 1;
}

.button {
    padding: 7px 40px;

    cursor: pointer;
    outline: none;
    border-radius: 10px;
    border: 2px solid var(--color);

    background: transparent;
    font: 500 14px/1.25 Verdana, Geneva, Tahoma, sans-serif;
    transition: all 0.3s ease-in-out;
}

.button:hover {
    color: #fff;
    background-color: var(--color);
}

.button:focus {
    color: #fff;
    background-color: var(--color);
}

.output-field {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 10px 0;
    padding: 10px 15px;
    border-radius: 20px;

    color: #000;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.output-controls {
    margin-left: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.output-controls .button {
    margin-left: 20px;
}

.output-field.complated {
    opacity: 0.5;
}
.output-field.deletion {
    opacity: 0;
}
